In [2]:
import  requests, re
from requests_html import HTMLSession, HTML
session = HTMLSession()
import pandas as pd

In [17]:
l = []
# LP1= "lekki/lekki-phase-1"
locations = ["ikorodu"]
property_area = ["agric", "akute-ajuwon", "apeka", "ebute", "ibesh", "igbogbo", "ijede", "ikorodu", "ipakodo", "isawo", "jumofak", "maya", "odongunyan"]
for place in locations:

    r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place)

    for area in property_area:
        
        r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area)

        items = int(re.findall("\d+",r.html.find('div.property-sale-number')[0].text)[2])
        listings = 20
        pages = int(items/listings) + 1

        for page in range(pages):

            r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area+"?page="+str(page))
            properties = r.html.find('div.single-room-text')
            #base_url="https://www.propertypro.ng/property-for-rent?search="+place+ "&auto=&type=&bedroom=&max_price="
        
            for i in list(range(0,len(properties))):
                d={}
                d["location"] = place
                d["property_area"] = area
                try:
                    d["street"] = properties[i].find('h4')[0].text
                except (IndexError,TypeError,AttributeError):
                    d["location"] = None
                try:
                    d["features"]= properties[i].find('div.fur-areea')[0].text 
                except (AttributeError,IndexError) as e:
                    d["features"]= None
                try:
                    d["bed"]= int(re.findall("..bed",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bed"]= 0 
                try:
                    d["bath"]= int(re.findall("..bath",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bath"]= 0
                try:
                    d["toilet"]= int(re.findall("..Toilet",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["toilet"]= 0
                try:
                    d["description"]= properties[i].find('h3.listings-property-title2')[0].text
                except (IndexError,TypeError,AttributeError) as e:
                    d["description"]= None

                try:
                    d["price"]= properties[i].find('h3.listings-price')[0].text.replace("₦ ","").replace(",","")
                except (IndexError,TypeError,AttributeError) as e:
                    d["price"] = None
                l.append(d)

In [18]:
import pandas as pd
ld = pd.DataFrame(l)
ld

,location,property_area,street,features,bed,bath,toilet,description,price
0,ikorodu,agric,"Opeoluwa Bustop, Isawo rd,Agric Ikorodu Lagos",1 beds 1 baths 2 Toilets,1,1,2,Spaciously built mini flat/2bed flat,200000
1,ikorodu,agric,IsawoAgric Ikorodu Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat - Newly Renovated 2 bedroom flat,280000
2,ikorodu,agric,Isawo bus stop Agric Ikorodu Lagos,2 beds 2 baths 1 Toilets,2,2,1,2-Bedroom for rent with nice features,280000
3,ikorodu,agric,Isawo RoadAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini-flat,220000
4,ikorodu,agric,Ogunyeye Street Agric Ikorodu Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat,230000
...,...,...,...,...,...,...,...,...,...
4120,ikorodu,odongunyan,Isekalu streetOdongunyan Ikorodu Lagos,0 beds 0 baths 0 Toilets,0,0,0,Decent room self contain,150000
4121,ikorodu,odongunyan,OdogunyanOdongunyan Ikorodu Lagos,2 beds 2 baths 3 Toilets,2,2,3,Decent 2 bedroom flat,350000
4122,ikorodu,odongunyan,"Second gate, laspotechOdongunyan Ikorodu Lagos",1 beds 1 baths 1 Toilets,1,1,1,A room self,100000
4123,ikorodu,odongunyan,Ogijo IkoroduOdongunyan Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Ordinary room available to let in Ogijo Ikorodu,30000
4124,ikorodu,odongunyan,odogunyanOdongunyan Ikorodu Lagos,3 beds 3 baths 3 Toilets,3,3,3,3 bedroom flat,400000

In [19]:
ld.to_csv("House_prices_ikorodu.csv")

In [20]:
l = []
# LP1= "lekki/lekki-phase-1"
locations = ["gbagada"]
property_area = ["atunrase-medina", "gbagada", "ifako-gbagada", "medina", "millenuim-ups", "new-garage", "oworonshoki", "phase-1", "phase-2", "soluyi"]
for place in locations:

    r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place)

    for area in property_area:
        
        r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area)

        items = int(re.findall("\d+",r.html.find('div.property-sale-number')[0].text)[2])
        listings = 20
        pages = int(items/listings) + 1

        for page in range(pages):

            r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area+"?page="+str(page))
            properties = r.html.find('div.single-room-text')
            #base_url="https://www.propertypro.ng/property-for-rent?search="+place+ "&auto=&type=&bedroom=&max_price="
        
            for i in list(range(0,len(properties))):
                d={}
                d["location"] = place
                d["property_area"] = area
                try:
                    d["street"] = properties[i].find('h4')[0].text
                except (IndexError,TypeError,AttributeError):
                    d["location"] = None
                try:
                    d["features"]= properties[i].find('div.fur-areea')[0].text 
                except (AttributeError,IndexError) as e:
                    d["features"]= None
                try:
                    d["bed"]= int(re.findall("..bed",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bed"]= 0 
                try:
                    d["bath"]= int(re.findall("..bath",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bath"]= 0
                try:
                    d["toilet"]= int(re.findall("..Toilet",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["toilet"]= 0
                try:
                    d["description"]= properties[i].find('h3.listings-property-title2')[0].text
                except (IndexError,TypeError,AttributeError) as e:
                    d["description"]= None

                try:
                    d["price"]= properties[i].find('h3.listings-price')[0].text.replace("₦ ","").replace(",","")
                except (IndexError,TypeError,AttributeError) as e:
                    d["price"] = None
                l.append(d)

In [21]:
ld = pd.DataFrame(l)
ld

,location,property_area,street,features,bed,bath,toilet,description,price
0,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,1 beds 1 baths 1 Toilets,1,1,1,Lovely Newly built and partly serviced mini flat,900000
1,gbagada,atunrase-medina,Atunrase Atunrase Medina Gbagada Lagos,3 beds 3 baths 3 Toilets,3,3,3,Nice 3 bedroom duplex at Atunrase gbagada,2000000
2,gbagada,atunrase-medina,Medina estate gbagadaAtunrase Medina Gbagada L...,2 beds 2 baths 2 Toilets,2,2,2,newly built 2 bedroom flat,1500000
3,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,3 beds 3 baths Toilets,3,3,0,3bedroom duplex new house in Atunrase Estate,2000000
4,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,2 beds 2 baths 2 Toilets,2,2,2,BRAND NEW MINI FLAT,1400000
...,...,...,...,...,...,...,...,...,...
11008,gbagada,soluyi,Shadia Estate behind Chevron Staff Club & Clin...,4 beds 4 baths 5 Toilets,4,4,5,4 Bedroom flat,1800000
11009,gbagada,soluyi,Powerline Soluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,Luxury 3 Bedroom Ensuite,1100000
11010,gbagada,soluyi,Josodak estate Soluyi Gbagada Lagos,3 beds 2 baths 2 Toilets,3,2,2,A 3 Bedroom Flat,900000
11011,gbagada,soluyi,PowerlineSoluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Flat,1000000
11012,gbagada,soluyi,Sholuyi powerlineSoluyi Gbagada Lagos,3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom flat,1000000

In [22]:
ld.to_csv("House_prices_gbagada.csv")

In [23]:
l = []
# LP1= "lekki/lekki-phase-1"
locations = ["ajah"]
property_area = ["abijo", "abraham-adesanya-estate", "ado", "ajiran", "ajiwe", "akodo", "awoyaya", "badore", "canaan-estate", "chevron", "crown-estate", "eden-garden-estate", "graceland-estate", "ilaje", "lakowe", "lekki-gardens-estate", "off-lekki-epe-expressway", "ogombo", "okun-ajah", "olokonla", "peninsula-estate", "sangotedo", "thomas-estate"]
for place in locations:

    r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place)

    for area in property_area:
        
        r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area)

        items = int(re.findall("\d+",r.html.find('div.property-sale-number')[0].text)[2])
        listings = 20
        pages = int(items/listings) + 1

        for page in range(pages):

            r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area+"?page="+str(page))
            properties = r.html.find('div.single-room-text')
            #base_url="https://www.propertypro.ng/property-for-rent?search="+place+ "&auto=&type=&bedroom=&max_price="
        
            for i in list(range(0,len(properties))):
                d={}
                d["location"] = place
                d["property_area"] = area
                try:
                    d["street"] = properties[i].find('h4')[0].text
                except (IndexError,TypeError,AttributeError):
                    d["location"] = None
                try:
                    d["features"]= properties[i].find('div.fur-areea')[0].text 
                except (AttributeError,IndexError) as e:
                    d["features"]= None
                try:
                    d["bed"]= int(re.findall("..bed",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bed"]= 0 
                try:
                    d["bath"]= int(re.findall("..bath",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bath"]= 0
                try:
                    d["toilet"]= int(re.findall("..Toilet",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["toilet"]= 0
                try:
                    d["description"]= properties[i].find('h3.listings-property-title2')[0].text
                except (IndexError,TypeError,AttributeError) as e:
                    d["description"]= None

                try:
                    d["price"]= properties[i].find('h3.listings-price')[0].text.replace("₦ ","").replace(",","")
                except (IndexError,TypeError,AttributeError) as e:
                    d["price"] = None
                l.append(d)

In [24]:
ld = pd.DataFrame(l)
ld

,location,property_area,street,features,bed,bath,toilet,description,price
0,ajah,abijo,"Abijo GRA, Ajah LagosAbijo Ajah Lagos",7 beds 7 baths 8 Toilets,7,7,8,7 bedroom fully detached house having all room...,2500000
1,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000
2,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000
3,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000
4,ajah,abijo,By Abijo G. R. AAbijo Ajah Lagos,beds baths Toilets,0,0,0,3 and Half Plots with Building for Commercial ...,2000000
...,...,...,...,...,...,...,...,...,...
6837,ajah,thomas-estate,"No. 15 Omoba Samshideen Street,Thomas Estate A...",3 beds 3 baths 4 Toilets,3,3,4,2 Units of 3 Bedroom Semi-Detached Duplex In Ajah,2000000
6838,ajah,thomas-estate,Budo estateThomas Estate Ajah Lagos,3 beds 4 baths 3 Toilets,3,4,3,Nice 3 bedroom detached bungalow,1200000
6839,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",2 beds 2 baths 3 Toilets,2,2,3,2 Bedroom Flat In Ajah,1500000
6840,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Duplex In Ajah,1200000
6841,ajah,thomas-estate,Thomas estateThomas Estate Ajah Lagos,3 beds 2 baths 3 Toilets,3,2,3,Three bedroom apartment for rent in Thomas est...,750000

In [25]:
ld.to_csv("House_prices_ajah.csv")

In [26]:
l = []
# LP1= "lekki/lekki-phase-1"
locations = ["ikeja"]
property_area = ["adeniyi-jones", "agidingbi", "airport-road(ikeja)", "alausa", "alausa-ikeja", "allen-avenue", "awolowo-way", "balogun", "ikeja", "ikeja-g.r.a", "ikeja-gra", "mangoro", "maryland", "mobolaji-bank-anthony-way", "oba-akran", "obafemi-awolowo-way", "omole", "opebi", "oregun", "toyin-street", "unity-road"]
for place in locations:

    r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place)

    for area in property_area:
        
        r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area)

        items = int(re.findall("\d+",r.html.find('div.property-sale-number')[0].text)[2])
        listings = 20
        pages = int(items/listings) + 1

        for page in range(pages):

            r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area+"?page="+str(page))
            properties = r.html.find('div.single-room-text')
            #base_url="https://www.propertypro.ng/property-for-rent?search="+place+ "&auto=&type=&bedroom=&max_price="
        
            for i in list(range(0,len(properties))):
                d={}
                d["location"] = place
                d["property_area"] = area
                try:
                    d["street"] = properties[i].find('h4')[0].text
                except (IndexError,TypeError,AttributeError):
                    d["location"] = None
                try:
                    d["features"]= properties[i].find('div.fur-areea')[0].text 
                except (AttributeError,IndexError) as e:
                    d["features"]= None
                try:
                    d["bed"]= int(re.findall("..bed",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bed"]= 0 
                try:
                    d["bath"]= int(re.findall("..bath",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bath"]= 0
                try:
                    d["toilet"]= int(re.findall("..Toilet",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["toilet"]= 0
                try:
                    d["description"]= properties[i].find('h3.listings-property-title2')[0].text
                except (IndexError,TypeError,AttributeError) as e:
                    d["description"]= None

                try:
                    d["price"]= properties[i].find('h3.listings-price')[0].text.replace("₦ ","").replace(",","")
                except (IndexError,TypeError,AttributeError) as e:
                    d["price"] = None
                l.append(d)

In [27]:
ld = pd.DataFrame(l)
ld

,location,property_area,street,features,bed,bath,toilet,description,price
0,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,beds baths Toilets,0,0,0,110 sqm Open Plan Offices Space,3850000
1,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,3 beds baths Toilets,3,0,0,Nicely Finished 5 unit of 3 bedroom flat with ...,13000000
2,ikeja,adeniyi-jones,Geted estate adeniyi JonesAdeniyi Jones Ikeja ...,3 beds 4 baths 4 Toilets,3,4,4,New luxury block of 5 unit of 3bedroom for sin...,15000000
3,ikeja,adeniyi-jones,Gated estate adeniyi JonesAdeniyi Jones Ikeja ...,5 beds 7 baths 7 Toilets,5,7,7,New luxury 5bedroom semi detached duplex with bq,6000000
4,ikeja,adeniyi-jones,off adeniyi jones is in a secure closeAdeniyi ...,2 beds 1 baths 1 Toilets,2,1,1,Mini Flat with a guest room and an ample parki...,650000
...,...,...,...,...,...,...,...,...,...
14397,ikeja,unity-road,"1, John Olugbo StreetUnity Road Ikeja Lagos",3 beds 2 baths 2 Toilets,3,2,2,Newly Renovated 3 Bedroom Flat in Ikeja,1200000
14398,ikeja,unity-road,"Dele Dosumu Street, Unity Road Ikeja Lagos",3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom Apartment,1000000
14399,ikeja,unity-road,Unity StreetUnity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,A Nice 3 Bedroom Flat for Office Use.,1000000
14400,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,3 Bedroom flat,1000000
14401,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 1 baths 1 Toilets,3,1,1,3 Bedroom flat,1100000

In [28]:
ld.to_csv("House_prices_ikeja.csv")

In [34]:
l = []
locations = ["surulere"]
property_area = ["abraham-adesanya", "adelabu", "adeniran-ogunsanya", "aguda", "alaka-estate", "alaka-iponri", "bode-thomas", "central-surulere", "coker", "eric-moore", "gbaja", "idi-araba", "ijesha", "iponri", "itire", "kilo-marsha", "lawanson", "masha", "ojuelegba", "orile-iganmu", "randle-avenue", "western-avenue"]

for place in locations:

    r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place)

    for area in property_area:
        
        r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area)

        items = int(re.findall("\d+",r.html.find('div.property-sale-number')[0].text)[2])
        listings = 20
        pages = int(items/listings) + 1

        for page in range(pages):

            r = session.get(f'https://www.propertypro.ng/property-for-rent/in/lagos/'+place+"/"+area+"?page="+str(page))
            properties = r.html.find('div.single-room-text')
            #base_url="https://www.propertypro.ng/property-for-rent?search="+place+ "&auto=&type=&bedroom=&max_price="
        
            for i in list(range(0,len(properties))):
                d={}
                d["location"] = place
                d["property_area"] = area
                try:
                    d["street"] = properties[i].find('h4')[0].text
                except (IndexError,TypeError,AttributeError):
                    d["location"] = None
                try:
                    d["features"]= properties[i].find('div.fur-areea')[0].text 
                except (AttributeError,IndexError) as e:
                    d["features"]= None
                try:
                    d["bed"]= int(re.findall("..bed",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bed"]= 0 
                try:
                    d["bath"]= int(re.findall("..bath",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["bath"]= 0
                try:
                    d["toilet"]= int(re.findall("..Toilet",properties[i].find('div.fur-areea')[0].text)[0].strip()[0][0])
                except (IndexError,TypeError,AttributeError,ValueError) as e:
                    d["toilet"]= 0
                try:
                    d["description"]= properties[i].find('h3.listings-property-title2')[0].text
                except (IndexError,TypeError,AttributeError) as e:
                    d["description"]= None

                try:
                    d["price"]= properties[i].find('h3.listings-price')[0].text.replace("₦ ","").replace(",","")
                except (IndexError,TypeError,AttributeError) as e:
                    d["price"] = None
                l.append(d)

In [35]:
ld = pd.DataFrame(l)
ld

,location,property_area,street,features,bed,bath,toilet,description,price
0,surulere,abraham-adesanya,Abraham AdesanyaAbraham Adesanya Surulere Lagos,3 beds 4 baths 4 Toilets,3,4,4,"Three Bedroom Flat for Rent in Surulere, All R...",800000
1,surulere,abraham-adesanya,main streetAbraham Adesanya Surulere Lagos,beds baths Toilets,0,0,0,web designs,50000
2,surulere,abraham-adesanya,-Abraham Adesanya Surulere Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat,1200000
3,surulere,abraham-adesanya,Abraham adesanya estateAbraham Adesanya Surule...,3 beds 3 baths 3 Toilets,3,3,3,Lovely 3 bedroom bungalow,1500000
4,surulere,abraham-adesanya,Tafawa Balewa crescent Abraham Adesanya Surule...,1 beds 0 baths 1 Toilets,1,0,1,A Room Office Space,300000
...,...,...,...,...,...,...,...,...,...
4508,surulere,western-avenue,ibidun street Western Avenue Surulere Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 BEDROOM FLAT,650000
4509,surulere,western-avenue,banire street off fashoroWestern Avenue Surule...,3 beds 0 baths 0 Toilets,3,0,0,3 bedroom flat (Upstairs),700000
4510,surulere,western-avenue,-Western Avenue Surulere Lagos,2 beds 0 baths 2 Toilets,2,0,2,2 BEDROOM FLAT,600000
4511,surulere,western-avenue,AllenWestern Avenue Surulere Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Mini flat,600000
4512,surulere,western-avenue,off Agege Motor roadWestern Avenue Surulere Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built mini flat,400000

In [36]:
ld.to_csv("House_prices_surulere.csv")

In [46]:
df_ajah2 = pd.read_table("House_prices_ajah.csv", sep=",", header=None)
df_ajah = pd.read_csv("House_prices_ajah.csv")

In [47]:
df_ajah

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ajah,abijo,"Abijo GRA, Ajah LagosAbijo Ajah Lagos",7 beds 7 baths 8 Toilets,7,7,8,7 bedroom fully detached house having all room...,2500000
1,1,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000
2,2,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000
3,3,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000
4,4,ajah,abijo,By Abijo G. R. AAbijo Ajah Lagos,beds baths Toilets,0,0,0,3 and Half Plots with Building for Commercial ...,2000000
...,...,...,...,...,...,...,...,...,...,...
6837,6837,ajah,thomas-estate,"No. 15 Omoba Samshideen Street,Thomas Estate A...",3 beds 3 baths 4 Toilets,3,3,4,2 Units of 3 Bedroom Semi-Detached Duplex In Ajah,2000000
6838,6838,ajah,thomas-estate,Budo estateThomas Estate Ajah Lagos,3 beds 4 baths 3 Toilets,3,4,3,Nice 3 bedroom detached bungalow,1200000
6839,6839,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",2 beds 2 baths 3 Toilets,2,2,3,2 Bedroom Flat In Ajah,1500000
6840,6840,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Duplex In Ajah,1200000
6841,6841,ajah,thomas-estate,Thomas estateThomas Estate Ajah Lagos,3 beds 2 baths 3 Toilets,3,2,3,Three bedroom apartment for rent in Thomas est...,750000

In [49]:
df_gbagada = pd.read_csv("House_prices_gbagada.csv")

In [50]:
df_gbagada

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,1 beds 1 baths 1 Toilets,1,1,1,Lovely Newly built and partly serviced mini flat,900000.0
1,1,gbagada,atunrase-medina,Atunrase Atunrase Medina Gbagada Lagos,3 beds 3 baths 3 Toilets,3,3,3,Nice 3 bedroom duplex at Atunrase gbagada,2000000.0
2,2,gbagada,atunrase-medina,Medina estate gbagadaAtunrase Medina Gbagada L...,2 beds 2 baths 2 Toilets,2,2,2,newly built 2 bedroom flat,1500000.0
3,3,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,3 beds 3 baths Toilets,3,3,0,3bedroom duplex new house in Atunrase Estate,2000000.0
4,4,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,2 beds 2 baths 2 Toilets,2,2,2,BRAND NEW MINI FLAT,1400000.0
...,...,...,...,...,...,...,...,...,...,...
11008,11008,gbagada,soluyi,Shadia Estate behind Chevron Staff Club & Clin...,4 beds 4 baths 5 Toilets,4,4,5,4 Bedroom flat,1800000.0
11009,11009,gbagada,soluyi,Powerline Soluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,Luxury 3 Bedroom Ensuite,1100000.0
11010,11010,gbagada,soluyi,Josodak estate Soluyi Gbagada Lagos,3 beds 2 baths 2 Toilets,3,2,2,A 3 Bedroom Flat,900000.0
11011,11011,gbagada,soluyi,PowerlineSoluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Flat,1000000.0
11012,11012,gbagada,soluyi,Sholuyi powerlineSoluyi Gbagada Lagos,3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom flat,1000000.0

In [51]:
df_ikeja = pd.read_csv("House_prices_ikeja.csv")

In [52]:
df_ikeja

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,beds baths Toilets,0,0,0,110 sqm Open Plan Offices Space,3850000
1,1,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,3 beds baths Toilets,3,0,0,Nicely Finished 5 unit of 3 bedroom flat with ...,13000000
2,2,ikeja,adeniyi-jones,Geted estate adeniyi JonesAdeniyi Jones Ikeja ...,3 beds 4 baths 4 Toilets,3,4,4,New luxury block of 5 unit of 3bedroom for sin...,15000000
3,3,ikeja,adeniyi-jones,Gated estate adeniyi JonesAdeniyi Jones Ikeja ...,5 beds 7 baths 7 Toilets,5,7,7,New luxury 5bedroom semi detached duplex with bq,6000000
4,4,ikeja,adeniyi-jones,off adeniyi jones is in a secure closeAdeniyi ...,2 beds 1 baths 1 Toilets,2,1,1,Mini Flat with a guest room and an ample parki...,650000
...,...,...,...,...,...,...,...,...,...,...
14397,14397,ikeja,unity-road,"1, John Olugbo StreetUnity Road Ikeja Lagos",3 beds 2 baths 2 Toilets,3,2,2,Newly Renovated 3 Bedroom Flat in Ikeja,1200000
14398,14398,ikeja,unity-road,"Dele Dosumu Street, Unity Road Ikeja Lagos",3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom Apartment,1000000
14399,14399,ikeja,unity-road,Unity StreetUnity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,A Nice 3 Bedroom Flat for Office Use.,1000000
14400,14400,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,3 Bedroom flat,1000000
14401,14401,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 1 baths 1 Toilets,3,1,1,3 Bedroom flat,1100000

In [53]:
df_ikorodu = pd.read_csv("House_prices_ikorodu.csv")
df_LP1 = pd.read_csv("House_prices_lekki_phase1.csv")
df_surulere = pd.read_csv("House_prices_surulere.csv")
df_yaba = pd.read_csv("House_prices_yaba.csv")

In [54]:
House_prices_lagos = pd.concat([df_ajah, df_gbagada, df_ikeja, df_ikorodu, df_LP1, df_surulere, df_yaba ], ignore_index=True)

In [55]:
House_prices_lagos

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ajah,abijo,"Abijo GRA, Ajah LagosAbijo Ajah Lagos",7 beds 7 baths 8 Toilets,7,7,8,7 bedroom fully detached house having all room...,2500000
1,1,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000
2,2,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000
3,3,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000
4,4,ajah,abijo,By Abijo G. R. AAbijo Ajah Lagos,beds baths Toilets,0,0,0,3 and Half Plots with Building for Commercial ...,2000000
...,...,...,...,...,...,...,...,...,...,...
65875,17534,yaba,yaba,Oshoroko Before Lacampaigne TropicanaIse Town ...,beds baths Toilets,0,0,0,Land With CofO in Ibeju Lekki,3.3e+06
65876,17535,yaba,yaba,Second TollgateLekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,Brand New 4 Bedroom Semi Detached Duplex;,5.7e+07
65877,17536,yaba,yaba,-Old Ikoyi Ikoyi Lagos,4 beds 4 baths 5 Toilets,4,4,5,PRINCE ADEMOLA OSINUGA OFFERS! NEWLY BUILT 4 B...,4.5e+08
65878,17537,yaba,yaba,Ajah Lagos,5 beds 6 baths 7 Toilets,5,6,7,Charming Newly Built 5 Bedroom Detached House ...,7.5e+07
65879,17538,yaba,yaba,-Chevron Lekki Lagos,5 beds 6 baths 7 Toilets,5,6,7,Custom Built Brand New 5 Bedroom Fully Detache...,1.2e+08

In [57]:
df_ajah

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ajah,abijo,"Abijo GRA, Ajah LagosAbijo Ajah Lagos",7 beds 7 baths 8 Toilets,7,7,8,7 bedroom fully detached house having all room...,2500000
1,1,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000
2,2,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000
3,3,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000
4,4,ajah,abijo,By Abijo G. R. AAbijo Ajah Lagos,beds baths Toilets,0,0,0,3 and Half Plots with Building for Commercial ...,2000000
...,...,...,...,...,...,...,...,...,...,...
6837,6837,ajah,thomas-estate,"No. 15 Omoba Samshideen Street,Thomas Estate A...",3 beds 3 baths 4 Toilets,3,3,4,2 Units of 3 Bedroom Semi-Detached Duplex In Ajah,2000000
6838,6838,ajah,thomas-estate,Budo estateThomas Estate Ajah Lagos,3 beds 4 baths 3 Toilets,3,4,3,Nice 3 bedroom detached bungalow,1200000
6839,6839,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",2 beds 2 baths 3 Toilets,2,2,3,2 Bedroom Flat In Ajah,1500000
6840,6840,ajah,thomas-estate,"Thomas Estate,Thomas Estate Ajah Lagos",3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Duplex In Ajah,1200000
6841,6841,ajah,thomas-estate,Thomas estateThomas Estate Ajah Lagos,3 beds 2 baths 3 Toilets,3,2,3,Three bedroom apartment for rent in Thomas est...,750000

In [58]:
df_gbagada

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,1 beds 1 baths 1 Toilets,1,1,1,Lovely Newly built and partly serviced mini flat,900000.0
1,1,gbagada,atunrase-medina,Atunrase Atunrase Medina Gbagada Lagos,3 beds 3 baths 3 Toilets,3,3,3,Nice 3 bedroom duplex at Atunrase gbagada,2000000.0
2,2,gbagada,atunrase-medina,Medina estate gbagadaAtunrase Medina Gbagada L...,2 beds 2 baths 2 Toilets,2,2,2,newly built 2 bedroom flat,1500000.0
3,3,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,3 beds 3 baths Toilets,3,3,0,3bedroom duplex new house in Atunrase Estate,2000000.0
4,4,gbagada,atunrase-medina,Atunrase Medina Gbagada Lagos,2 beds 2 baths 2 Toilets,2,2,2,BRAND NEW MINI FLAT,1400000.0
...,...,...,...,...,...,...,...,...,...,...
11008,11008,gbagada,soluyi,Shadia Estate behind Chevron Staff Club & Clin...,4 beds 4 baths 5 Toilets,4,4,5,4 Bedroom flat,1800000.0
11009,11009,gbagada,soluyi,Powerline Soluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,Luxury 3 Bedroom Ensuite,1100000.0
11010,11010,gbagada,soluyi,Josodak estate Soluyi Gbagada Lagos,3 beds 2 baths 2 Toilets,3,2,2,A 3 Bedroom Flat,900000.0
11011,11011,gbagada,soluyi,PowerlineSoluyi Gbagada Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Flat,1000000.0
11012,11012,gbagada,soluyi,Sholuyi powerlineSoluyi Gbagada Lagos,3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom flat,1000000.0

In [59]:
df_ikeja

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,beds baths Toilets,0,0,0,110 sqm Open Plan Offices Space,3850000
1,1,ikeja,adeniyi-jones,Adeniyi Jones Ikeja Lagos,3 beds baths Toilets,3,0,0,Nicely Finished 5 unit of 3 bedroom flat with ...,13000000
2,2,ikeja,adeniyi-jones,Geted estate adeniyi JonesAdeniyi Jones Ikeja ...,3 beds 4 baths 4 Toilets,3,4,4,New luxury block of 5 unit of 3bedroom for sin...,15000000
3,3,ikeja,adeniyi-jones,Gated estate adeniyi JonesAdeniyi Jones Ikeja ...,5 beds 7 baths 7 Toilets,5,7,7,New luxury 5bedroom semi detached duplex with bq,6000000
4,4,ikeja,adeniyi-jones,off adeniyi jones is in a secure closeAdeniyi ...,2 beds 1 baths 1 Toilets,2,1,1,Mini Flat with a guest room and an ample parki...,650000
...,...,...,...,...,...,...,...,...,...,...
14397,14397,ikeja,unity-road,"1, John Olugbo StreetUnity Road Ikeja Lagos",3 beds 2 baths 2 Toilets,3,2,2,Newly Renovated 3 Bedroom Flat in Ikeja,1200000
14398,14398,ikeja,unity-road,"Dele Dosumu Street, Unity Road Ikeja Lagos",3 beds 2 baths 3 Toilets,3,2,3,3 Bedroom Apartment,1000000
14399,14399,ikeja,unity-road,Unity StreetUnity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,A Nice 3 Bedroom Flat for Office Use.,1000000
14400,14400,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 2 baths 2 Toilets,3,2,2,3 Bedroom flat,1000000
14401,14401,ikeja,unity-road,Unity Street Unity Road Ikeja Lagos,3 beds 1 baths 1 Toilets,3,1,1,3 Bedroom flat,1100000

In [60]:
df_ikorodu

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,ikorodu,agric,"Opeoluwa Bustop, Isawo rd,Agric Ikorodu Lagos",1 beds 1 baths 2 Toilets,1,1,2,Spaciously built mini flat/2bed flat,200000.0
1,1,ikorodu,agric,IsawoAgric Ikorodu Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat - Newly Renovated 2 bedroom flat,280000.0
2,2,ikorodu,agric,Isawo bus stop Agric Ikorodu Lagos,2 beds 2 baths 1 Toilets,2,2,1,2-Bedroom for rent with nice features,280000.0
3,3,ikorodu,agric,Isawo RoadAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini-flat,220000.0
4,4,ikorodu,agric,Ogunyeye Street Agric Ikorodu Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat,230000.0
...,...,...,...,...,...,...,...,...,...,...
4120,4120,ikorodu,odongunyan,Isekalu streetOdongunyan Ikorodu Lagos,0 beds 0 baths 0 Toilets,0,0,0,Decent room self contain,150000.0
4121,4121,ikorodu,odongunyan,OdogunyanOdongunyan Ikorodu Lagos,2 beds 2 baths 3 Toilets,2,2,3,Decent 2 bedroom flat,350000.0
4122,4122,ikorodu,odongunyan,"Second gate, laspotechOdongunyan Ikorodu Lagos",1 beds 1 baths 1 Toilets,1,1,1,A room self,100000.0
4123,4123,ikorodu,odongunyan,Ogijo IkoroduOdongunyan Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Ordinary room available to let in Ogijo Ikorodu,30000.0
4124,4124,ikorodu,odongunyan,odogunyanOdongunyan Ikorodu Lagos,3 beds 3 baths 3 Toilets,3,3,3,3 bedroom flat,400000.0

In [61]:
df_LP1

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,lekki,lekki-phase-1,off Freedom WayLekki Phase 1 Lekki Lagos,beds baths Toilets,0,0,0,A Massive Serviced Duplex with 48 office seat ...,50000
1,1,lekki,lekki-phase-1,Lekki phase Lekki LagosLekki Phase 1 Lekki Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom semi detached duplex,3500000
2,2,lekki,lekki-phase-1,Oniru EstateLekki Phase 1 Lekki Lagos,0 beds 0 baths 0 Toilets,0,0,0,commercial property,35000
3,3,lekki,lekki-phase-1,Oniru EstateLekki Phase 1 Lekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,"Newly Built, Tastefully Finished Four (4) Bedr...",5000000
4,4,lekki,lekki-phase-1,Lekki Phase 1 Lekki Lagos,3 beds 3 baths 4 Toilets,3,3,4,Decent 3-Bedroom Apartment with Swimming Pool ...,2600000
...,...,...,...,...,...,...,...,...,...,...
7441,7441,lekki,lekki-phase-1,lekki rightLekki Phase 1 Lekki Lagos,2 beds 2 baths 3 Toilets,2,2,3,2 and 3 bedroom apartment,4000000
7442,7442,lekki,lekki-phase-1,Off Hakeem DicksonLekki Phase 1 Lekki Lagos,4 beds 4 baths 4 Toilets,4,4,4,4 bedroom Duplex with a room BQ,3500000
7443,7443,lekki,lekki-phase-1,Victoria Island Lagos,5 beds 5 baths Toilets,5,5,0,Luxury Smart 5bedroom duplex,NaN
7444,7444,lekki,lekki-phase-1,Cottage DriveLekki Phase 1 Lekki Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 Bedroom Flat,3500000
7445,7445,lekki,lekki-phase-1,Anthony EtukuborLekki Phase 1 Lekki Lagos,4 beds 0 baths 0 Toilets,4,0,0,4 Bedroom Detached Duplex,3500000

In [62]:
df_surulere

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,surulere,abraham-adesanya,Abraham AdesanyaAbraham Adesanya Surulere Lagos,3 beds 4 baths 4 Toilets,3,4,4,"Three Bedroom Flat for Rent in Surulere, All R...",800000
1,1,surulere,abraham-adesanya,main streetAbraham Adesanya Surulere Lagos,beds baths Toilets,0,0,0,web designs,50000
2,2,surulere,abraham-adesanya,-Abraham Adesanya Surulere Lagos,2 beds 1 baths 1 Toilets,2,1,1,2 bedroom flat,1200000
3,3,surulere,abraham-adesanya,Abraham adesanya estateAbraham Adesanya Surule...,3 beds 3 baths 3 Toilets,3,3,3,Lovely 3 bedroom bungalow,1500000
4,4,surulere,abraham-adesanya,Tafawa Balewa crescent Abraham Adesanya Surule...,1 beds 0 baths 1 Toilets,1,0,1,A Room Office Space,300000
...,...,...,...,...,...,...,...,...,...,...
4508,4508,surulere,western-avenue,ibidun street Western Avenue Surulere Lagos,3 beds 3 baths 4 Toilets,3,3,4,3 BEDROOM FLAT,650000
4509,4509,surulere,western-avenue,banire street off fashoroWestern Avenue Surule...,3 beds 0 baths 0 Toilets,3,0,0,3 bedroom flat (Upstairs),700000
4510,4510,surulere,western-avenue,-Western Avenue Surulere Lagos,2 beds 0 baths 2 Toilets,2,0,2,2 BEDROOM FLAT,600000
4511,4511,surulere,western-avenue,AllenWestern Avenue Surulere Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Mini flat,600000
4512,4512,surulere,western-avenue,off Agege Motor roadWestern Avenue Surulere Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built mini flat,400000

In [63]:
df_yaba

,Unnamed: 0,location,property_area,street,features,bed,bath,toilet,description,price
0,0,yaba,abule-ijesha,Abuleijesha yaba down yaba tech Abule Ijesha Y...,2 beds 2 baths 2 Toilets,2,2,2,2bedroom apartment,700000.0
1,1,yaba,abule-ijesha,"Abuleijesha ,close to Morroco Yabatech area Ab...",1 beds 2 baths 2 Toilets,1,2,2,Standard newly built clean Miniflat at Yaba,600000.0
2,2,yaba,abule-ijesha,Yabatech BackgateAbule Ijesha Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly Built Room self contain At Yabatech Back...,6000000.0
3,3,yaba,abule-ijesha,Abule Ijesha Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built blocks of mini flat,450000.0
4,4,yaba,abule-ijesha,Abule ijeshaAbule Ijesha Yaba Lagos,2 beds 2 baths 3 Toilets,2,2,3,Standard newly built 2 bedroom flat,700000.0
...,...,...,...,...,...,...,...,...,...,...
17534,17534,yaba,yaba,Oshoroko Before Lacampaigne TropicanaIse Town ...,beds baths Toilets,0,0,0,Land With CofO in Ibeju Lekki,3300000.0
17535,17535,yaba,yaba,Second TollgateLekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,Brand New 4 Bedroom Semi Detached Duplex;,57000000.0
17536,17536,yaba,yaba,-Old Ikoyi Ikoyi Lagos,4 beds 4 baths 5 Toilets,4,4,5,PRINCE ADEMOLA OSINUGA OFFERS! NEWLY BUILT 4 B...,449999999.0
17537,17537,yaba,yaba,Ajah Lagos,5 beds 6 baths 7 Toilets,5,6,7,Charming Newly Built 5 Bedroom Detached House ...,75000000.0
17538,17538,yaba,yaba,-Chevron Lekki Lagos,5 beds 6 baths 7 Toilets,5,6,7,Custom Built Brand New 5 Bedroom Fully Detache...,120000000.0

In [64]:
House_prices_lagos = pd.concat([df_ajah, df_gbagada, df_ikeja, df_ikorodu, df_LP1, df_surulere, df_yaba ], ignore_index=True)

In [85]:
House_prices_lagos

,location,property_area,street,features,bed,bath,toilet,description,price
0,ajah,abijo,"Abijo GRA, Ajah LagosAbijo Ajah Lagos",7 beds 7 baths 8 Toilets,7,7,8,7 bedroom fully detached house having all room...,2500000
1,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000
2,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000
3,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000
4,ajah,abijo,By Abijo G. R. AAbijo Ajah Lagos,beds baths Toilets,0,0,0,3 and Half Plots with Building for Commercial ...,2000000
...,...,...,...,...,...,...,...,...,...
65875,yaba,yaba,Oshoroko Before Lacampaigne TropicanaIse Town ...,beds baths Toilets,0,0,0,Land With CofO in Ibeju Lekki,3.3e+06
65876,yaba,yaba,Second TollgateLekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,Brand New 4 Bedroom Semi Detached Duplex;,5.7e+07
65877,yaba,yaba,-Old Ikoyi Ikoyi Lagos,4 beds 4 baths 5 Toilets,4,4,5,PRINCE ADEMOLA OSINUGA OFFERS! NEWLY BUILT 4 B...,4.5e+08
65878,yaba,yaba,Ajah Lagos,5 beds 6 baths 7 Toilets,5,6,7,Charming Newly Built 5 Bedroom Detached House ...,7.5e+07
65879,yaba,yaba,-Chevron Lekki Lagos,5 beds 6 baths 7 Toilets,5,6,7,Custom Built Brand New 5 Bedroom Fully Detache...,1.2e+08

In [86]:
House_prices_lagos.to_csv("House_prices_lagos_7.csv", index=False)